<div class="well bs-component">
<%= form_for @user do |f| %>
<form class="form">
  <fieldset>
   <legend><strong>New User</strong></legend> 

    <div class="form-group">
      <label for="inputName" class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">

        <%= f.text_field :firstName, class: "form-control", placeholder: "First Name" %>
        <%= f.text_field :lastName, class: "form-control", placeholder: "Last Name" %>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <%= f.text_field :email, class: "form-control", placeholder: "Email Address" %>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">

        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPicture" class="col-lg-2 control-label">Profile Photo</label>
      <div class="col-lg-10">
        <%= f.file_field :picture, class: "form-control", placeholder: "Profile Picture" %>
      </div>
    </div>

     
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default btn-lg">Cancel</button>
        <%= f.submit class: "btn btn-primary btn-lg", value: "Submit"%> 
      </div>
    </div>
  </fieldset>
</form>
</div>


  

  <div class="field">
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>   
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit class: " " %> 
  </div>
<% end %>
