<h1>Listing users</h1>

  
    <% @users.each do |user| %>
    
        <h3><%= user.firstName + " " + user.lastName %></h3>
        <%= user.email %>
        
        <%= link_to 'Show', user %>
        <%= link_to 'Edit', edit_user_path(user) %>
       
   
    <% end %>
 

<br>

<%= link_to 'New User', new_user_path %>
