<p id="notice"><%= notice %></p>

<% @posts.each do |p| %>
	<div>

		<div><%= image_tag p.picture.url, class: "picture img-responsive" %></div>
		<%= p.caption %>
		<strong>Tags:</strong>
	  <%= p.tags %><br>
	  <%= "Posted by " + p.user.firstName + " " + p.user.lastName + " " +distance_of_time_in_words_to_now(p.created_at) + " ago" %>
	 

	</div>
<% end %>


