


 

	<div><%= image_tag @post.picture.url(:large), class: "img-responsive img-rounded" %></div>
		<%= @post.caption %>
		<strong>Tags:</strong>
	  <%= @post.tags %><br>
	  Posted by <%= link_to @post.user.firstName + " " + @post.user.lastName, current_user %>
	  <%= distance_of_time_in_words_to_now(@post.created_at) + " ago" %>
	  <%= link_to "Leave comment", @post %>
		<br><br>
				<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>

	 
<%= form_for @post do |f| %>
<% end %>





